.todo { 
    border-style: dotted;
    background-color: ghostwhite;
    padding: 1px;
    font-size: 35px;
    border-radius: 50px;
    height: 45px;
    position: relative;
}

.id {
    position: absolute;
    left: 1%;
}

.text {
    position: absolute;
    left: 5%;
}

.deleteicon {
    width: 100%;
    max-width: 45px;
    position: absolute;
    right: 4%;
    bottom: 2%;
}

.complete, .incomplete {
    background-color: red; 
    border-style: initial; 
    font-size: 20px;
    border-radius: 50px;  
    height: 25px;
    width: 120px;
    position: absolute;
    right: 15%;
    top: 22%;
}

.incomplete {
    background-color: blueviolet;
}

